[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/imguizmo"]
	path = libraries/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui
